<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact | Seraj's Portfolio</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
  <header class="contact-header">
    <h1>Get in Touch</h1>
    <p>I’d love to hear from you! Whether you have a question, want to collaborate, or just want to say hi, feel free to reach out.</p>
  </header>

  <section class="contact-section">
    <div class="contact-info">
      <h2>Contact Details</h2>
      <ul class="contact-list">
        <li>
          <li><i class="fas fa-envelope"></i> <a href="mailto:seraj.alomari@lcieducation.com">Internship contact: seraj.alomari@lcieducation.com</a></li>
          <li><i class="fas fa-envelope"></i> <a href="mailto:seraj.alomari@lcieducation.com">Personal: seraj.alomari2666@gmail.com</a></li>

        </li>
        <li>
          <i class="fab fa-linkedin"></i>
          <a href="https://linkedin.com/in/seraj-alomari-5a8848330" target="_blank">LinkedIn</a>
        </li>
        <li>
          <i class="fab fa-github"></i>
          <a href="https://github.com/Seraj24" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>

    <a href="/files/Resume_Seraj_Alomari.pdf" download="Resume_Seraj_Alomari.pdf" class="cta-btn">
      <button class="view-cv-btn">Download My CV</button>
    </a>

  </section>

  <%- include('partials/footer') %>

</body>
</html>
