<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>

  <%- include('partials/header') %>

  <header>
    <div class="hero">
      <h1>Hi, I am Seraj Alomari</h1>
      <p>I’m an Information Technology student specializing in web and mobile app development, with a focus on game development in Unity. I’m currently on the lookout for internship opportunities where I can further develop my skills and contribute to real-world projects.</p>
    </div>
  </header>

<div class="logo-container">
  <img class="python-logo" src="/images/python-new.png" alt="Python Logo">
  <img class="c-sharp-logo" src="/images/c-sharp-logo.png" alt="C# Logo">
  <img class="java-logo" src="/images/java.png" alt="Java Logo">
  <img class="php-logo" src="/images/php.png" alt="PHP Logo">
  <img class="unity-logo" src="/images/unity-game-engine-icon.png" alt="Unity Engine Logo">
</div>

  <section id="about-me">
    <div class="about-content">
      <img src="/images/Profile_Picture.jpg" alt="Profile Image" class="profile-img">
      <h2>About Me</h2>
      <p>I'm an aspiring software developer with a passion for turning ideas into reality with clean and scalable code. Even though I'm still in school, I love working on projects that push me to design apps and solve real-world problems. Check out my school projects, and I'm also working on some exciting projects behind the scenes that aren't available just yet!</p>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <p>Explore the technologies and tools that I excel in:</p>
    <a href="/skills" class="cta-btn">
      <button class="view-skills-btn">View Skills</button>
    </a>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <p>Discover some of the projects I've worked on:</p>
    <div class="project-cards">
      <a href="/projects" class="cta-btn">
        <button class="view-project-btn">View Projects</button>
      </a>
    </div>
  </section>

  <section id="contact" class="contact">
    <h2>Contact</h2>
    <p>If you'd like to get in touch, feel free to visit my <a href="/contact" class="cta-btn contact-btn">Contact Page</a>.</p>
    <a href="/files/Resume_Seraj_Alomari.pdf" download="Resume_Seraj_Alomari.pdf" class="cta-btn">
      <button class="view-cv-btn">Download My CV</button>
    </a>
  </section>

  <%- include('partials/footer') %>
 

  <script>

    const logoColors = {
      'c-sharp-logo': '#68217A',
      'java-logo': '#ED8B00',
      'php-logo': '#AEB2D5',
      'unity-logo': '#000000'
    };

    const mainHeaderColor = '#f8c471';
    const mainBodyTextColor = '#dcdde1'

    // Function to set the header color
    function setHeaderColor(color) {
      document.documentElement.style.setProperty('--header-color', color == null ? mainHeaderColor : color);
      document.documentElement.style.setProperty('--text-color', color == null ? mainBodyTextColor : color);
    }

    // Function to handle the hover effect
    function handleLogoHover(event) {
      const logo = event.target; // Get the logo that triggered the event
      const color = logoColors[logo.classList[0]] || '#f8c471'; // Get color from the map or default

      if (event.type === 'mouseenter') {
        setHeaderColor(color);
      } else if (event.type === 'mouseleave') {
        setHeaderColor();
      }
    }

    // Add event listeners for all logos dynamically
    const logos = document.querySelectorAll('.c-sharp-logo, .java-logo, .php-logo, .unity-logo');
    logos.forEach(logo => {
      logo.addEventListener('mouseenter', handleLogoHover);
      logo.addEventListener('mouseleave', handleLogoHover);
    });

  </script>

</body>

</html>
