<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <div class="hero">
        <h1><%= title %></h1>
        <p>Hi, I’m glad you’re here! Check out my work and let’s build something awesome together.</p>
        <a href="#about-me" class="cta-btn">Get to Know Me</a>
    </div>
</header>

  <section id="about-me">
    <div class="about-content">
      <img src="/images/Profile_Picture.jpg" alt="Profile Image" class="profile-img">
      <h2>Hey there, I'm Seraj!</h2>
      <p>Welcome to my portfolio. I am a dedicated software developer with a strong focus on creating efficient, scalable, and user-centered solutions. With a passion for problem-solving, I specialize in transforming concepts into functional applications and websites that meet real-world needs. My approach combines innovation with practicality, ensuring that each project not only addresses specific challenges but also provides a seamless user experience. Explore my skills and projects below—I look forward to collaborating and driving impactful results together.</p>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <p>Explore the technologies and tools that I excel in:</p>
    <a href="/skills" class="cta-btn">
      <button class="view-skills-btn">View Skills</button>
    </a>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <p>Discover some of the projects I've worked on:</p>
    <div class="project-cards">
      <a href="/projects" class="cta-btn">
        <button class="view-project-btn">View Projects</button>
      </a>
    </div>
  </section>

  <section id="contact" class="contact">
    <h2>Contact</h2>
    <p>If you'd like to connect or collaborate, feel free to reach out to me!</p>
    <ul>
      <li>Email: <a href="mailto:seraj.alomari@lcieducation">seraj.alomari@lcieducation.com</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/seraj-alomari-5a8848330" target="_blank">linkedin.com/in/seraj-alomari-5a8848330</a></li>
      <li>GitHub: <a href="https://github.com/Seraj24" target="_blank">github.com/Seraj24</a></li>
    </ul>
    <a href="/files/Resume_Seraj_Alomari.pdf" download="Resume_Seraj_Alomari.pdf" class="cta-btn">
      <button class="view-cv-btn">Download My CV</button>
    </a>
  </section>

 
  <footer>
    <p>&copy; 2025 Seraj Alomari</p>
  </footer>

</body>

</html>
