<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/skills.css">
</head>

<body>

  
  <%- include('partials/header') %>

  <section class="quote">
      <blockquote>
        <p>"The only way to do great work is to love what you do." - Steve Jobs</p>
      </blockquote>
  </section>

  <h2 class="view-title">Skills</h2>

  <section class="skills">
      <h2>Languages</h2>
      <div class="skills-list">
        <div class="skill">
          <div class="skill-title">
            <span>HTML</span>
            <span class="skill-level">Expert</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" ></div>
          </div>
        </div>
        
        <div class="skill">
          <div class="skill-title">
            <span>CSS</span>
            <span class="skill-level">Advanced</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress"></div>
          </div>
        </div>
        
        <div class="skill">
          <div class="skill-title">
            <span>JavaScript</span>
            <span class="skill-level">Intermediate</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" ></div>
          </div>
        </div>
        
        <div class="skill">
          <div class="skill-title">
            <span>Python</span>
            <span class="skill-level">Advanced</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-title">
            <span>C#</span>
            <span class="skill-level">Intermediate</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress" ></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-title">
            <span>PHP</span>
            <span class="skill-level">Intermediate</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-title">
            <span>Java</span>
            <span class="skill-level">Intermediate</span>
          </div>
          <div class="skill-bar">
            <div class="skill-progress"></div>
          </div>
        </div>
      </div>
  </section>

  <section class="tools">
      <h2>Tools</h2>
      <div class="tools-list">
        <div class="tool">VS Code</div>
        <div class="tool">Git</div>
        <div class="tool">GitHub</div>
        <div class="tool">Docker</div>
        <div class="tool">Unity</div>
        <div class="tool">Laragon</div>
        <div class="tool">SQL SERVER 2022</div>
        <div class="tool">Microsoft SQL Management Studio 20</div>
      </div>
  </section>


  <a href="/">
    <button class="back-button">Back to Index</button>
  </a>

  <%- include('partials/footer') %>

</body>

</html>
