<footer>
    <div class="footer-content">
      <p>&copy; 2025 Seraj Alomari. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="https://linkedin.com/in/seraj-alomari-5a8848330" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/Seraj24" target="_blank">GitHub</a></li>
        <li><a href="mailto:seraj.alomari@lcieducation.com">Email</a></li>
      </ul>
    </div>
  </footer>