<header>
    <div class="nav-container">
      <h1 class="logo"><a href="/" style="text-decoration: none; color: inherit;">Seraj A.</a></h1>
      <nav class="nav-list">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/future-projects">Future Projects</a></li>
        </ul>
      </nav>
    </div>
</header>