
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  perspective: 1000px;
  padding: 50px;
  position: relative;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Floating & Scaling Effect */
.project-card:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}


  

  .project-card h2 {
    font-size: 2.2em;
    color: #2c3e50;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  

  .project-description {
    font-size: 1.2em;
    color: #f8c471;
    margin-bottom: 25px;
    line-height: 1.6;
  }
  

  .project-details p {
    font-size: 1.1em;
    color: #f8c471;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: capitalize;
  }
  
  .project-details p strong {
    font-weight: bold;
    color: #000000;
  }
  

  .project-details p:last-child {
    font-style: italic;
    color: #16a085;
  }
  

  .progress-bar {
    width: 100%;
    background-color: #ecf0f1;
    border-radius: 10px;
    height: 12px;
    margin: 20px 0;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
  }
  
  .progress-text {
    font-size: 1.2em;
    color: #7f8c8d;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
  }
  

  footer {
    text-align: center;
    font-size: 1em;
    color: #7f8c8d;
    margin-top: 60px;
    width: 100%;
  }
  


  .github-link{
    font-size: 25px;
    
  }

  .github-link :hover{
    font-size: 40px;
    transform: translateZ(50%);
  }
  
 
  @media (max-width: 768px) {
    header h1 {
      font-size: 2.8em;
    }
  
    .projects-container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  
    .project-card {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 2.4em;
    }
  
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
  