
  .skills {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skill-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill-title span {
    font-size: 1.2em;
    color: black;
    font-weight: 400;
  }
  
  .skill-level {
    font-size: 1em;
    color: #888;
  }
  
  .skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 10px;
    overflow: hidden;
  }
  
  .skill-progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 8px;
  }

  .quote {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    border-left: 5px solid #4caf50;
    font-style: italic;
  }
  
  .quote blockquote p {
    font-size: 1.5em;
    color: #333;
  }
  
  .quote blockquote p::before {
    content: "“";
    font-size: 2em;
    color: #4caf50;
    margin-right: 10px;
  }
  
  .quote blockquote p::after {
    content: "”";
    font-size: 2em;
    color: #4caf50;
    margin-left: 10px;
  }

  .tools {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 40px;
    margin-bottom: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  .tools h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .tools-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .tool {
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  


  .view-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: #45a049;  
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  

  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: var(--width);
    }
  }
  

  .skill-progress {
    animation: progress 1s ease-in-out forwards;
  }
    /* HTML */
 
  .skill:nth-child(1) .skill-progress {
    --width: 90%;
  }
   /* CSS */
  
  .skill:nth-child(2) .skill-progress {
    --width: 80%;
  }

  /* JavaScript */
  .skill:nth-child(3) .skill-progress {
    --width: 70%;
  }

   /* Python */
  .skill:nth-child(4) .skill-progress {
    --width: 75%;
  }

  /* C# */
  .skill:nth-child(5) .skill-progress {
    --width: 75%;
  }

  /* PHP */
  .skill:nth-child(6) .skill-progress {
    --width: 75%;
  }

  /* Java */
  .skill:nth-child(7) .skill-progress {
    --width: 75%;
  }
  